/* Fonts and Body */
body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to right top, #4d4dff, #742bba, #70127d, #59094c, #390c27, #2c0d20, #200b18, #14060f, #1a0c1a, #1b1225, #161832, #001f3f);
    color: white;
    margin: 0;
    animation: fadeIn ease 1s;
    animation-fill-mode: forwards;
    position: relative; /* Add this line to set position for the pseudo-element */
}


/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Navigation */
.navbar {
    background-color: rgba(4, 6, 6, 0.5); /* Here, 0.5 is the alpha value for transparency */
    position: relative; /* Add this line to create stacking context */
    z-index: 1; /* Ensure the navbar and footer appear above the diagonal lines */
}
footer {
    background-color: #040606;
    position: relative; /* Add this line to create stacking context */
    z-index: 1; /* Ensure the navbar and footer appear above the diagonal lines */
}

.navbar-nav {
    display: flex;
    align-items: center;
    height: 60px;
}

.navbar-nav .nav-item {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: black;
}

.navbar-nav .nav-link {
    text-decoration: none;
    color: #ffff;
    padding: 0.5rem 1rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link.main:hover {
    color: #18c4e0; /* Instagram */
}

.navbar-nav .nav-link.social-icon:hover {
    color: #E4405F; /* Instagram */
}

.navbar-nav .nav-link.social-icon.facebook:hover {
    color: #1877F2; /* Facebook */
}

.navbar-nav .nav-link.social-icon.twitter:hover {
    color: #1DA1F2; /* Twitter */
}

.navbar-nav .nav-link.social-icon.telegram:hover {
    color: #0088CC; /* Telegram */
}

/* Mobile Navbar */
/* Mobile Navbar Styles */
@media (max-width: 991px) {
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: black;
        z-index: 1000;
    }

    .navbar-collapse {
        position: fixed;
        top: 60px; /* Adjusted top position to align with the navbar */
        left: -100%;
        width: 100%;
        height: 100vh; /* Set to full viewport height */
        background-color: #040606;
        transition: left 0.3s ease-in-out;
        z-index: 999;
    }

    .navbar-collapse.show {
        left: 0;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0; /* Remove margin-top */
    }

    .content {
        margin-top: 60px; /* Add margin to content to avoid overlap with navbar */
        padding-bottom: 100px; /* Add padding to avoid overlap with footer */
    }
}


/* Video Container */
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* Adjust aspect ratio as needed */
    overflow: hidden;
}

.instagram-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.video-container:hover .instagram-video {
    opacity: 1;
}

.instagram-video:hover {
    pointer-events: auto; /* Enable interaction on hover */
}

/* Carousel */
.carousel-inner {
    min-height: 200px; /* Adjust this value to your desired minimum height */
}

.carousel-item {
    overflow: hidden;
    min-height: 100%;
}

.carousel-item h1,
.carousel-item h2,
.carousel-item h3,
.carousel-item p {
    margin: 0;
    padding: 1em;
}

/* Intro Section */
.intro-section {
    position: relative;
    padding: 5rem 0; /* Adjust padding as needed */
    color: #ffffff; /* Text color */
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-content {
    width: 100%; /* Full width */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.intro-text {
    flex: 1;
    padding: 2rem;
    box-sizing: border-box;
}

.intro-text h3 {
    font-size: 3rem; /* Adjust font size as needed */
    margin-bottom: 1rem;
}

.intro-text p {
    font-size: 1.5rem; /* Adjust font size as needed */
    margin: 0;
}

.intro-image {
    flex: 1;
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;
}

.intro-image img {
    max-width: 50%; /* Image size is half of the text content */
    height: auto;
}


/* About Section */
.about-section {
    padding: 50px 0;
    color: #FFFF;
    text-align: center;
    font-size: 2rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px; /* Push content down to make space for navbar */
}

.about-section h1 {
    font-size: 3rem;
    font-weight: 700;
}

.about-section p {
    font-size: 1.7rem;
    font-weight: 400;
}

/* Other Styles */
.block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circle-group {
    display: flex;
    align-items: center;
    margin: 20px 0;
}



/* Footer Styles */
footer {
    background-color: #040606;
    color: white;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

/* Responsive styles */
.container {
    max-width: 100%;
    padding: 0 15px;
    position: relative; /* Add this line to create stacking context */
    z-index: 2; /* Ensure the container content appears above the diagonal lines */
}

.lead {
    font-size: 18px;
    margin-bottom: 20px;
}

.centered-left {
    text-align: left;
    margin: 0 auto;
    max-width: 1500px; /* Adjust the maximum width as needed */
    line-height: 3rem;
}

/* Your funding styles */

.card_carousel {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }

  .title-card {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  .carousel-card {
    background-color: darkblue;
    color: turquoise;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }

  .carousel-inner {
    text-align: center;
  }

  .carousel-control-prev, .carousel-control-next {
    width: auto;
  }

.content-wrapper {
    padding-top: 80px; /* Adjust this value to ensure content is below the navbar */
    padding-bottom: 40px; /* Adjust this value to ensure content is above the footer */
}
