/* Navbar and Footer Styles */
nav, footer {
    background-color: #040606;
}

.home-section:nth-child(2n) {
    background-color: #040606;
    color: white;
}

.navbar-nav {
    display: flex;
    align-items: center;
    height: 60px;
}

.navbar-nav .nav-item {
    margin: 0;
    padding: 0;
}

.navbar-nav .nav-link {
    text-decoration: none;
    color: #ffff;
    padding: 0.5rem 1rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link.main:hover {
    color: #18c4e0; /* Instagram */
}

.navbar-nav .nav-link.social-icon:hover {
    color: #E4405F; /* Instagram */
}

.navbar-nav .nav-link.social-icon.facebook:hover {
    color: #1877F2; /* Facebook */
}

.navbar-nav .nav-link.social-icon.twitter:hover {
    color: #1DA1F2; /* Twitter */
}

.navbar-nav .nav-link.social-icon.telegram:hover {
    color: #0088CC; /* Telegram */
}

/* Body Styles */
body {
    background: #042b2e;
    color: white;
    margin: 0;
    animation: fadeIn ease 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Footer Styles */
footer {
    background-color: #040606;
    color: white;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

/* About Section Styles */
.about-section {
    padding: 50px 0;
    color: #FFFF;
    text-align: center;
    font-size: 2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

/* Other Styles */
.block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circle-group {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

/* Circle Styles */
.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
    animation: bounce 1s ease;
    transition: transform 0.2s;
    background-color: #042b2e;
    color: white;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    border: 10px solid transparent;
    border-image: linear-gradient(to bottom right, #e3f9fa, #18c4e0, #040606, #07555c, #0a748d, #042b2e, #053748, #108e56);
    border-image-slice: 1;
}

.circle-text {
    font-size: 24px;
    color: white;
}

.circle-content {
    text-align: center;
}

.circle-amount {
    font-size: 24px;
    color: #FFFF;
    font-weight: bold;
    margin: 0;
}

.circle-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: transform 0.2s;
}

.circle-link:hover {
    transform: scale(1.05);
}

.circle-group {
    gap: 300px;
}

.circle-container a {
    text-decoration: none;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Font Styles */
body {
    font-family: 'Montserrat', sans-serif;
}

/* Your existing CSS styles */

/* Additional Mobile Styles */
@media (max-width: 767.98px) {
    .navbar-toggler {
        display: none;
    }
    
    .blur-background {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 999;
        opacity: 0;
        transition: opacity 0.3s;
    }
    
    .full-screen-navbar {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #040606;
        color: white;
        z-index: 1000;
        transform: translateX(-100%);
        transition: transform 0.3s;
    }
    
    .full-screen-navbar .navbar-content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 100%;
        padding: 20px;
    }
    
    .full-screen-navbar.show-navbar {
        transform: translateX(0);
    }
    
    .blur-background.show-blur {
        display: block;
        opacity: 1;
    }
    
    .navbar-toggler {
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 1001;
    }
    
    .navbar-toggler-icon {
        font-size: 2rem;
        color: white;
    }
    
    .full-screen-navbar .navbar-toggler {
        top: 20px;
        right: 20px;
        z-index: 1002;
    }
    
    .full-screen-navbar .navbar-toggler-icon {
        color: white;
    }
    
    .full-screen-navbar .navbar-content .navbar-toggler {
        top: 20px;
        right: 20px;
        z-index: 1002;
    }
    
    .full-screen-navbar .navbar-content .navbar-toggler-icon {
        color: white;
    }
    
    .full-screen-navbar .navbar-content .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 50px;
        width: 100%;
    }
    
    .full-screen-navbar .navbar-content .navbar-nav .nav-item {
        margin: 0;
    }
    
    .full-screen-navbar .navbar-content .navbar-nav .nav-link {
        text-align: right;
        padding: 10px 20px;
        color: white;
    }
    
    .full-screen-navbar .navbar-content .navbar-nav .nav-link.main:hover {
        color: #18c4e0; /* Instagram */
    }
    
    .full-screen-navbar .navbar-content .navbar-nav .nav-link.social-icon:hover {
        color: #E4405F; /* Instagram */
    }
    
    .full-screen-navbar .navbar-content .navbar-nav .nav-link.social-icon.facebook:hover {
        color: #1877F2; /* Facebook */
    }
    
    .full-screen-navbar .navbar-content .navbar-nav .nav-link.social-icon.twitter:hover {
        color: #1DA1F2; /* Twitter */
    }
    
    .full-screen-navbar .navbar-content .navbar-nav .nav-link.social-icon.telegram:hover {
        color: #0088CC; /* Telegram */
    }
}
