{% extends 'layout.html' %}
{% block title %}About Us{% endblock %}

{% block content %}
<section class="about-section">
    <div class="container text-center pt-5"> <!-- Added pt-5 for top padding -->
        <h1>Welcome to Pegasus Forex Group – Your Path to Trading Mastery</h1>
        <p>At Pegasus Forex Group, we're more than a team of traders – we're a community united by the pursuit of trading excellence. With a profound passion for the forex market, we've charted a unique course to guide aspiring traders towards success.</p>
        <p>Our journey started just like yours, marked by the desire to unravel the intricacies of forex trading. Over time, we've honed our skills, refined strategies, and embraced the art of trading. Today, we stand as a beacon of knowledge, offering you the chance to learn from our experience.</p>
        <p>We've seen the highs and lows of the trading world, and we understand the challenges that traders face. Our mission is simple: to equip you with the insights, techniques, and mindset needed to navigate the forex landscape confidently.</p>
        <p>Pegasus Forex Group isn't just about trading – it's about transformation. By following us, you're not merely mirroring trades; you're embarking on a journey of growth. Our commitment is to help you become a more informed, skilled, and disciplined trader.</p>
        <p>Join our community and unlock the potential within you. Let's navigate the forex market together, one successful trade at a time. Welcome to Pegasus Forex Group – where your trading journey takes flight.</p>
    </div>
</section>
{% endblock %}
