{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<section class="home-section d-flex justify-content-between align-items-center mb-4 p-4">
    <img src="static/image.jpg" alt="">
    <div class="container text-center">
        <h1>Introducing Pegasus Forex Group - Your Trusted Path to Trading Success</h1>
        <p class="my-3">Elevate Your Trading Journey with Pegasus Forex Group</p>
        <p>Step into a world of trading excellence with Pegasus Forex Group, where expertise meets mentorship. Our name embodies more than just trading; it signifies empowerment, growth, and the realization of your financial aspirations.</p>
    </div>
</section>

<section class="home-section d-flex justify-content-between align-items-center mb-4 p-4">
    <div class="container text-center">
        <h2>Why Choose Pegasus Forex Group?</h2>
    </div>
</section>

<section class="home-section d-flex justify-content-between align-items-center mb-4 p-4">
    <div class="container text-center">
        <h3>🚀 Pegasus Forex Group's Insight: Align yourself with Pegasus Forex Group, a collective of seasoned traders who are more than mentors – they're your partners in your pursuit of financial freedom.</h3>
    </div>
    <img src="static/image1.jpg" alt="">
</section>

<section class="home-section d-flex justify-content-between align-items-center mb-4 p-4">
    <img src="static/image2.jpg" alt="">
    <div class="container text-center">
        <h3>📚 Experience the Ultimate Learning Curve: Benefit from the insights of industry-leading traders, boasting over 10 years of combined experience in the markets. Learn from those who have tread the path to trading mastery.</h3>
    </div>
</section>

<section class="home-section d-flex justify-content-between align-items-center mb-4 p-4">
    
    <div class="container text-center">
        <h3>📈 Master Proven Strategies: At Pegasus Forex Group, we're not just mentors; we're architects of unique trading strategies that instill confidence and foster a high-risk-to-reward approach. Trade smarter, not harder.</h3>
    </div>
    <img src="static/image3.jpg" alt="">
</section>

<section class="home-section d-flex justify-content-between align-items-center mb-4 p-4">
    <img src="static/image4.jpg" alt="">
    <div class="container text-center">
        <h3>🌍 Join a Global Trading Community: Become a part of our vibrant community, uniting hundreds of students from around the world. Together, we're taking strides toward achieving the financial freedom we all desire.</h3>
    </div>
    
</section>

<section class="home-section d-flex justify-content-between align-items-center mb-4 p-4">
    
    <div class="container text-center">
        <h3>📊 Real Results, Real Stories: Don't just take our word for it – hear from our current Pegasus Forex Group members. Explore testimonials that underscore the transformative power of being a part of our trading community.</h3>
    </div>
    <img src="static/image5.jpg" alt="">
</section>

<section class="home-section mb-4">
    <div class="container text-center">
        <p>Ready to redefine your trading potential? Join Pegasus Forex Group and witness your journey towards trading excellence unfold.</p>
        <p class="mb-0">Pegasus Forex Group: Guiding Traders, Shaping Success.</p>
    </div>
</section>

{% endblock %}

{% block footer %}
<footer>
    <div class="container text-center">
        <p>&copy; 2023 Pegasus Forex Group. All rights reserved.</p>
    </div>
</footer>
{% endblock %}
