{% extends 'layout.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="container mt-4 profile-page">
    <h1 class="welcome">Welcome, {{ user_name }}!</h1>

    <div>
        <div>
            <h2>Your Profile</h2>
            <!-- Display user's profile information -->
            <ul>
                <li><strong>Username:</strong> {{ user_name }}</li>
                <li><strong>Email:</strong> {{ user_email}}</li>
                <li>
                    <strong>Date of Birth:</strong> <span id="dateOfBirth">{{ user_date_of_birth or "Not provided" }}</span>
                </li>
                <li>
                    <strong>Location:</strong> <span id="location">{{ user_location or "Not provided" }}</span>
                </li>
                <li>
                    <strong>Phone Number:</strong> <span id="phoneNumber">{{ user_phone_number or "Not provided" }}</span>
                </li>
            </ul>
        </div>
    </div>

    <!-- Edit button -->
    <button id="editProfile" class="btn btn-primary mt-3">Edit</button>

    <div id="editForm" style="display: none;">
        <h2 class="mt-4">Update Your Profile</h2>
        <form id="profileForm" action="/update_profile" method="POST">
            <div class="form-group">
                <label for="date_of_birth">Date of Birth:</label>
                <input type="date" id="date_of_birth" name="date_of_birth" class="form-control" value="{{ user_date_of_birth }}">
            </div>
            <div class="form-group">
                <label for="location">Location (Country):</label>
                <select id="location" name="location" class="form-control">
                    {% for country, flag in countries_with_flags.items() %}
                        <option value="{{ country }}" {% if user_location == country %}selected{% endif %}>{{ flag }} {{ country }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="phone_number">Phone Number:</label>
                <input type="text" id="phone_number" name="phone_number" class="form-control" value="{{ user_phone_number }}">
            </div>
            <!-- Add a submit button to submit the form -->
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
</div>

<script src="static/app.js"></script>
{% endblock %}
